/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */

//@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
	--font-primary: 'Ubuntu';
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-darkblue: #00042F;
	--color-blue: #252D7C;
	--color-blue-hover: #333C95;
	--color-yellow: #D29E3E;
	--color-red: #D80000;
}

$white: var(--color-white);
$black: var(--color-black);
$darkblue: var(--color-darkblue);
$blue: var(--color-blue);
$blue-hover: var(--color-blue-hover);
$yellow: var(--color-yellow);
$red: var(--color-red);

//Page layout
$col: 52px;
$gap: 32px;

$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);
$container: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px
);

//@function padding-fs($w) {
//	@return ( 100vw - map-get($container, $w) ) / 2;
//}