//@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  font-family: var(--font-primary);
  font-size: 16px;
  color: $darkblue;
  line-height: 1.25;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $blue-hover;
  }
  &:after {
    transition: all .2s ease-in;
  }
}

p {
  margin-bottom: 1rem;
}

.btn {
  padding: 10px 22px;
  line-height: 18px;
  font-size: 16px;
  &-white {
    border: 1px solid $blue;
    border-radius: 8px;
    color: $blue;
    &.btn-with-arrow {
      background-image: url(../svg/icon-arrow-blue.svg);
    }
    &:hover {
      color: $white;
      background-color: $blue;
      &.btn-with-arrow {
        background-image: url(../svg/icon-arrow-white.svg);
      }
    }
  }
  &-blue {
    border: 1px solid $blue;
    border-radius: 8px;
    background-color: $blue;
    color: $white;
    &.btn-with-arrow {
      background-image: url(../svg/icon-arrow-white.svg);
    }
    &:hover {
      color: $white;
      background-color: $blue-hover;
    }
  }
  &-yellow {
    border: 1px solid #ffc62d;
    border-radius: 8px;
    background-color: #ffc62d;
    color: $darkblue;

    &:hover {
      color: $darkblue;
      background-color: $yellow;
    }
  }
  &.btn-with-arrow {
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) calc(100% - 20px);
    background-size: 47px;
  }
}

.header {
  padding: $gap 0;
  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__logo {
    z-index: 9;
    img {
      max-height: 42px;
      max-width: 158px;
    }
  }
  &__search-button {
    background: url(../svg/icon-search.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__phone {
    a {
      color: $darkblue;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    z-index: 9;
    > div {
      &:not(:last-child) {
        margin-right: $gap;
      }
    }
  }
}

.navmenu {
  display: flex;
  margin: 0;
  padding: 3px 0;
  a {
    font-size: 16px;
  }
  &__parent {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    &:not(:last-child) {
      margin-right: $gap/2;
    }
    > a {
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      color: $darkblue;
      transition: all 200ms ease-in;
      &:after {
        background-image: url(../svg/icon-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 6px;
        content: "";
        margin-left: 8px;
        margin-top: 4px;
      }
    }
    &:hover {
      .navmenu__submenu {
        opacity: 1;
        visibility: visible;
      }
      a {
        &:after {
          transform: scale(1, -1);
        }
      }
    }
    &:hover > a,
    &:active > a {
      color: $blue;
    }
  }
  &__submenu {
    background: #fff;
    padding: $gap*2 $gap/2 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    transition: all 200ms ease-in;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    max-height: calc(100vh - 180px);
    &-columns {
      column-count: 4;
      column-gap: 24px;
      &_price {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      }
    }
    &-item {
      display: inline-block;
      width: 100%;
      margin: 0 0 24px;
      ul {
        padding: 0;
        li {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          list-style: none;
          margin: 0 0 $gap/4;
          a {
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      margin: 0 0 $gap;
      a {
        color: #252525;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
}

section {
  .title {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: $gap/2;
    font-weight: bold;
  }
  .description {

  }
  .firstscreen {
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
    &__button {
      padding: $gap/2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: calc(100%/2 - 20px);
      &-title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 29px;
      }
      &-info {
        line-height: 18px;
      }
    }
    &__text {
      font-weight: bold;
      color: $darkblue;
      margin: 95px 0 225px;
      > span {
        display: block;
      }
      &-black {
        font-size: 50px;
        line-height: 57px;
      }
      &-large {
        font-size: 100px;
        line-height: 116px;
        color: $blue;
      }
      &-small {
        font-weight: 300;
        line-height: 140%;
        padding-top: $gap/2;
        width: 50%;
      }
    }
  }
}

.section {
  &-blue {
    background-color: $blue;
    color: $white;
  }
}
.section-valuation {

}

.section-experts {
  .description {
    padding-top: $gap/2;
  }
  .content-switcher {
    margin-top: $gap*3;
  }
}
.section-slider {
  .right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: $gap*2;
    .arrow-buttons {
      margin-top: $gap*2;
    }
  }
}

.section-tiles {

}

.section-guarantees {
  &__right {
    border: 2px solid $blue;
    border-radius: 10px;
    padding: $gap;
    height: fit-content;
  }
}

.section-contacts {
  .content-switcher {
    margin-top: $gap*2;
  }
}

.section-map,
.section-guarantees,
.section-faq{
  .title {
    margin-bottom: $gap;
  }
  .row {
    justify-content: space-between;
  }
}

.section-faq {
  &__contacts {
    border: 1px solid $blue;
    border-radius: 8px;
    padding: $gap;
    .phone {
      font-weight: bold;
      color: $blue;
      padding: $gap/2 0;
      font-size: 25px;
    }
  }
}

.section-about {
  padding-bottom: $gap*5 0;
}

.section-coupon {
  .title {
    margin-bottom: $gap;
  }
}
section.firstscreen {
  background-image: url(../img/firstscreen.png);
  background-repeat: no-repeat;
  background-position: 100% -100%;
}
.sec-sp {
  padding: $gap*5 0;
}

.info-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: $gap*1.5;
  &__item {
    background-color: $white;
    padding: 18px 18px 18px $gap;
    width: calc( (55% - 20px * 3) / 3);
    height: 200px;
    &-number, &-title {
      color: $yellow;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
    }
    &-number {

    }
    &-title {
        margin-bottom: $gap/4;
    }
    &-desc {
      color: $black;
      opacity: 0;
      visibility: hidden;
    }
    &:not(:last-child) {
      //margin-right: $gap/2;
    }
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
    &.active {
      min-width: 45%;
      .info-cards__item-title,
      .info-cards__item-desc {
        padding-left: 35px;
      }
      .info-cards__item-desc {
        opacity: 1;
        visibility: visible;
      }
    }
    &:not(.active) {
      .info-cards__item-title {
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
}

.content-switcher {
  &__menu-item {
    position: relative;
    display: block;
    color: $darkblue;
    cursor: pointer;
    &.active {
      color: $blue;
      .content-switcher__menu-item-title {
        position: relative;
        padding-bottom: $gap*0.75;
        &:before {
          width: 100%;
          transition: all 0.3s ease;
        }
      }
      &:before {
        content: none;
      }
    }
    &:before {
      content: "";
      background-image: url(../svg/icon-arrow-black.svg);
      background-repeat: no-repeat;
      background-position: right bottom;
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: rotate(45deg);
      background-size: contain;
    }
    &-title {
      font-size: 25px;
      line-height: 29px;
      padding-bottom: 12px;
      position: relative;
      font-weight: bold;
      &:before {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: $blue;
        bottom: 12px;
        position: absolute;
      }
    }
    &:not(:last-child) {
      margin-bottom: $gap*2.5;
    }
  }
  &__content {
    margin-top: 36px;
    position: relative;
    &-item {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid $blue;
      border-radius: 10px;
      padding: $gap;
      //position: relative;
      opacity: 0;
      visibility: hidden;
      transition: all .5s ease;
      &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease;
      }
    }
  }
  &_experts {
    .content-switcher__content-item {
      padding: 200px $gap $gap;
      &-img {
        position: absolute;
        top: -150px;
        img {
          height: 300px;
          border-radius: 50%;
          display: block;
          position: relative;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 2px solid $blue;
          border-radius: 50%;
          top: -20px;
          right: -20px;
        }
      }
    }
  }
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 450px;
  &:after {
    content: "";
    position: absolute;
    background-color: $blue;
    display: block;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    bottom: 0;
    z-index: 0;
  }
  &__item {
    z-index: 5;
  }
  &__image {
    img {
      width: 300px;
    }
  }
  &__pagination {
    z-index: 5;
    color: $white;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: $gap/2 0 $gap*1.5;
    .line {
      content: "";
      width: 125px;
      height: 1px;
      margin: 0 15px;
      background-color: white;
    }
    .current {
      font-size: 40px;
    }
    .total {
      font-size: 20px;
    }
  }
}

.arrow-buttons {
  display: flex;
  align-items: center;
  a {
    background-image: url(../svg/icon-arrow-black.svg);
    width: 60px;
    height: 60px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__left {
    transform: rotate(180deg);
    margin-right: $gap*2;
  }
}


.info-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
  margin-top: $gap*1.5;
  &__item {
    border: 1px solid $black;
    border-radius: 10px;
    padding: $gap/2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &.btn {
      font-weight: bold;
      padding: $gap;
      font-size: 20px;
      line-height: 1.5;
    }
    &-text {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px;
      opacity: 0;
      font-weight: bold;
      font-size: 25px;
      visibility: hidden;
    }
    &:hover {
      .info-grid__item-image {
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
      }
      .info-grid__item-text {
        opacity: 1;
        visibility: visible;
        transition: all .2s ease;
      }
    }
    &-image {
      display: flex;
      align-items: center;
      align-content: center;
    }
  }
  div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
  div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
  div:nth-child(3) { grid-area: 1 / 3 / 2 / 5; }
  div:nth-child(4) { grid-area: 2 / 1 / 4 / 2; }
  div:nth-child(5) { grid-area: 2 / 2 / 3 / 4; }
  div:nth-child(6) { grid-area: 2 / 4 / 3 / 5; }
  div:nth-child(7) { grid-area: 3 / 2 / 4 / 3; }
  div:nth-child(8) { grid-area: 3 / 3 / 4 / 4; }
  div:nth-child(9) { grid-area: 3 / 4 / 4 / 5; }
  div {
    min-height: 270px;
    img {
      max-height: 180px;
    }
    &:nth-child(4) {
      img {
        max-width: 180px;
      }
    }
  }
}
.map {
  position: relative;
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 0;
    background-color: white;
    width: 35%;
    padding: $gap $gap $gap 0;
    text-align: justify;
    &-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: $gap/2;
    }
    &-text {
      font-size: 16px;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.coins-list {
  .row {
    justify-content: space-between;
  }
  &__item {
    position: relative;
    margin-top: $gap * 1.5;
    &:before {
      content: "";
      margin-top: calc(40px + 170px / 2);
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $blue;
    }
  }
  &__coin {
    border: 2px solid $blue;
    border-radius: 10px;
    padding: $gap;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    position: relative;
    z-index: 5;
    &-number {
      font-size: 42px;
      line-height: 42px;
      padding: 20px;
      color: $blue;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-price {
      color: $yellow;
    }
    &-image {
      margin-bottom: $gap;
      height: 170px;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: white;
      border-radius: 20px;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
  &__description {
    margin-top: calc(10px + 170px / 2);
    background-color: white;
    z-index: 5;
    position: relative;
    padding: 0 10px;
  }
}

ul.marker-oval {
  list-style-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='8.60662' cy='8.00016' rx='5' ry='10' transform='rotate(45 8.60662 8.00016)' fill='%23252D7C'/%3E%3C/svg%3E%0A");
  li {
    &::marker {
      height: 10px;
    }
  }
}

.tabs {
  margin-top: $gap;
  display: inline-block;
  position: relative;
  &__caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
    padding: 0;
    li {
      padding: 9px 15px;
      margin: 1px 0 0 1px;
      position: relative;
      border-radius: 5px 5px 0 0;
      text-align: center;
      display: flex;
      font-weight: bold;
      font-size: 25px;
      span {
        padding-left: $gap/2;
      }
      //transition: all .2s ease;
      &:last-child:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: -2px;
        z-index: -1;
        height: 5px;
      }
      &:active {

      }
      &:not(.active) {
        cursor: pointer;
        //transition: all .2s ease;
        span {
          width: 0;
          height: 0;
          display: inline-block;
          overflow: hidden;
          visibility: hidden;
          transition: all .2s ease;
        }
        &:hover {
        }
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .active {
      background: #FFF;
      color: $yellow;
      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 5px;
        background: #FFF;
      }
    }
  }
  &__content {
    display: none;
    background: #FFF;
    border-radius: 0 5px 5px 5px;
    padding: $gap;
    color: $black;
    padding-bottom: $gap*3;
    &.active {
      display: block;
    }
  }
  .arrow-buttons {
    position: absolute;
    bottom: $gap;
    right: $gap;
  }
}

.reviews {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  ul {
    display: flex;
    padding: 0;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    padding-left: calc( (100vw - 1340px) / 2);
    .reviews__item {
      border: 2px solid $blue;
      border-radius: 8px;
      padding: $gap;
      margin-right: $gap;
      &-name {
        font-weight: bold;
        color: $blue;
        font-size: 25px;
      }
      &-content {
        width: 700px;
      }
    }
  }
}

.accordeon__spoiler {
  margin: 0 0 $gap;
  &-name {
    font-size: 25px;
    font-weight: bold;
    color: $blue;
    line-height: 29px;
    position: relative;
    cursor: pointer;
    display: block;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: url(../svg/icon-arrow-black.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      width: 48px;
      height: 48px;
      right: -48px;
      top: 0;
      transform: rotate(45deg);
      transition: all .3s ease;
    }
    &.opened::after {
      transform: rotate(-45deg);
      transition: all .3s ease;
    }
  }
  &-hide {
    display: none;
    padding-top: $gap;
  }
}

.footer {
  padding: $gap*1.5 0;
  background-color: $darkblue;
  color: $white;
  font-weight: 300;
  &__logo {
    img {
      max-width: 158px;
      max-height: 42px;
    }
  }
  &-title {
    margin: 0;
    position: relative;
    font-weight: bold;
    font-size: 22px;
  }
  &-content {
    padding-top: 12px;
    ul {
      padding: $gap/2 0 0;
      list-style-type: none;
      li {
        padding-bottom: $gap/4;
      }
    }
    a, a:hover {
      color: #d5d5d5;
      text-decoration: underline;
    }
  }
  &-item {
    padding-top: 10px;
    padding-bottom: 10px;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.coupon {
  border: 5px solid $yellow;
  background-color: white;
  border-radius: 10px;
  color: $darkblue;
  padding: $gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-weight: bold;
    font-size: 25px;
  }
  &__red {
    color: $red;
    font-weight: bold;
    font-size: 32px;
    padding: $gap/2;
  }
  a {
    font-weight: bold;
  }
}
